.Card {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px #26262680;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.Card img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
